.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;

    padding: 5px;
    border: 1px solid #fff;
    border-radius: 13px;
}
.wrapper__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: all .5s ease;
}
.wrapper__item:not(.wrapper__header):hover {
    transform: translateY(-15px);
}
.wrapper__title {
    padding: 5px;
    border: 1px solid #fff;
    background-color: #1A1A1A;
    border-radius: 8px;
}
.wrapper__info {
    display: flex;
    align-items: center;

    padding: 5px;
    height: 100%;

    border: 1px solid #fff;
    border-radius: 8px;
}